In [61]:
import imdb_funcs
import pickle

In [418]:
import importlib
importlib.reload(imdb_funcs)
importlib.reload(db_funcs)

In [13]:
test_names_list = ['Will Smith', 'Jackie Chan', 'Selena Gomez']

In [14]:
actor_dict_list = imdb_funcs.get_actor_titles(test_names_list)

In [28]:
actor_dict_list[1]['name']

'Jackie Chan'

In [63]:
import json

In [64]:
with open("imdb_movies_50_actors.json", "r") as read_file:
    movie_data = json.load(read_file)

In [65]:
# with open('imdb_actors.json', 'w') as actors_json_file:
#     json.dump(actor_dict_list)

In [72]:
data[5]

{'movie_id': 'tt4154756',
 'title': 'Avengers: Infinity War (2018)',
 'director': 'Directors:Anthony Russo, Joe Russo',
 'cast': ['Robert Downey Jr.',
  'Chris Hemsworth',
  'Mark Ruffalo',
  'Chris Evans',
  'Scarlett Johansson',
  'Don Cheadle'],
 'genres': ['Action', ' Adventure', ' Sci-Fi'],
 'metascore': '68',
 'budget': '321000000',
 'box office gross usa': '678815482',
 'box office cumulative': '2048709917',
 'box office opening week': '257698183',
 'studio': ' Marvel Studios'}

In [48]:
genre_list = []
for item in data:
    sub_list = []
    if item['genres']:
        sub_list = [genre for genre in item['genres']]
        genre_list.extend(sub_list)

In [51]:
genre_set = set(genre_list)

In [55]:
clean_genre_set = set()

In [56]:
for i in genre_set:
    clean_name = i.lstrip()
    clean_genre_set.add(clean_name)

In [71]:
#clean_genre_set

In [60]:
len('Documentary')

11

In [125]:
    INSERT_STR = f'INSERT INTO movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) '

    VALUE_STR = 'values ({}, {}, {}, {}, {:d}, {:d}, {:d}, {:d}, {:d})'

In [70]:
# formatted_values = VALUE_STR.format(title_id, title, director,
#                                         studio, meta_score, budget, bo_gu,
#                                         bo_ww, bo_ow)

In [267]:
title_id = 'tt4154756'
title = 'Avengers'#: Infinity War'# (2018)'
director = 'Anthony Russo'
studio = 'Marvel Studios'
meta_score = 68
budget = 321000000
bo_gu = 678815482
bo_ww = 2048709917
bo_ow = 257698183

In [127]:
INSERT_STR

'INSERT INTO movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) '

In [128]:
VALUE_STR

'values ({}, {}, {}, {}, {:d}, {:d}, {:d}, {:d}, {:d})'

In [138]:
VAL_STR = 'VALUES (%s, %s, %s, %s, %d, %d, %d, %d, %d)'

In [139]:
INSERT_STR

'INSERT INTO movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) '

In [140]:
QUERY_STR = INSERT_STR + VAL_STR

In [141]:
QUERY_STR

'INSERT INTO movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) VALUES (%s, %s, %s, %s, %d, %d, %d, %d, %d)'

In [146]:
values = (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow)

In [131]:
import db_funcs
import config

In [165]:
conn = db_funcs.get_db_conn(config)

In [379]:
import importlib
importlib.reload(config)
importlib.reload(db_funcs)

In [268]:

VAL_STR = f'values ({title_id}, {title}, {director}, {studio}, {meta_score}, {bo_gu}, {bo_ww}, {bo_ow})'

In [269]:
VAL_STR

'values (tt4154756, Avengers, Anthony Russo, Marvel Studios, 68, 678815482, 2048709917, 257698183)'

In [224]:
query_str = 'INSERT INTO movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) '

In [225]:
query_str

'INSERT INTO movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) '

In [226]:
VAL_STR

'values (tt4154756, Avengers: Infinity War, Anthony Russo, Marvel Studios, 68, 678815482, 2048709917, 257698183)'

In [270]:
exec_query = query_str + VAL_STR

In [271]:
exec_query

'INSERT INTO movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) values (tt4154756, Avengers, Anthony Russo, Marvel Studios, 68, 678815482, 2048709917, 257698183)'

In [272]:
conn.close()

In [273]:
conn = db_funcs.get_db_conn(config)

In [274]:
cursor = conn.cursor()

In [280]:
test_id = 'tt456'
test_val = 200

In [295]:
test_val_str = f'values ({test_id}, {test_val})'

In [312]:
test_ins = """insert into test (id, num_val) values(%s, %s)"""

In [313]:
vals = (test_id, test_val)

In [314]:
vals

('tt456', 200)

In [315]:
test_ins

'insert into test (id, num_val) values(%s, %s)'

In [299]:
conn.close()

In [300]:
conn = db_funcs.get_db_conn(config)

In [301]:
cursor = conn.cursor()

In [316]:
cursor.execute(test_ins, vals)

In [317]:
conn.commit()

In [285]:
test_q

'insert into test (id, num_val) values (tt456, 200)'

In [318]:
values

('tt4154756',
 'Avengers: Infinity War (2018)',
 'Anthony Russo',
 'Marvel Studios',
 68,
 321000000,
 678815482,
 2048709917,
 257698183)

In [322]:
insert_str = """Insert into movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) values (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [330]:
insert_str

'Insert into movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) values (%s, %s, %s, %s, %s, %s, %s, %s, %s)'

In [325]:
values

('tt4154756',
 'Avengers: Infinity War (2018)',
 'Anthony Russo',
 'Marvel Studios',
 68,
 321000000,
 678815482,
 2048709917,
 257698183)

In [331]:
cursor.execute(insert_str, values)

In [332]:
conn.commit()

In [334]:
values

('tt4154756',
 'Avengers: Infinity War (2018)',
 'Anthony Russo',
 'Marvel Studios',
 68,
 321000000,
 678815482,
 2048709917,
 257698183)

In [338]:
db_funcs.insert_movie_values(cursor, values[0], values[1], values[2], values[3], values[4], values[5], values[6], values[7], values[8])

In [339]:
conn.commit()

In [340]:
insert_str

'Insert into movies (title_id, title, director, studio, meta_score, budget, bo_gu, bo_ww, bo_ow) values (%s, %s, %s, %s, %s, %s, %s, %s, %s)'

In [341]:
### ACTORS

In [342]:
import json

In [343]:
actor_file = open('imdb_actors.json', 'r')

In [344]:
actor_json = json.load(actor_file)

In [347]:
import pickle

In [348]:
actor_pickle = open('popularActors.pkl', 'rb')

In [350]:
actor_data = pickle.load(actor_pickle)

In [367]:
actor_insert = """insert into actors (actor_id, first_name, last_name, pop_rank, social_rank, salary) values (%s, %s, %s, %s, %s, %s)"""

In [368]:
chris_evans = ('nm0262635', 'Chris', 'Smith', 100, 200, 5000000)

In [369]:
chris_evans

('nm0262635', 'Chris', 'Smith', 100, 200, 5000000)

In [370]:
actor_insert

'insert into actors (actor_id, first_name, last_name, pop_rank, social_rank, salary) values (%s, %s, %s, %s, %s, %s)'

In [371]:
conn.close()

In [372]:
conn = db_funcs.get_db_conn(config)

In [373]:
cursor = conn.cursor()

In [374]:
cursor.execute(actor_insert, chris_evans)

In [375]:
conn.commit()

In [376]:
conn.close()

In [377]:
conn = db_funcs.get_db_conn(config)

In [378]:
cursor = conn.cursor()

In [381]:
db_funcs.insert_actor_values(cursor, 'nm0262635', 'Chris', 'Smith', 50, 20, 75000000)

In [382]:
conn.commit()

In [384]:
import pickle

In [387]:
pop_act_file = open('popularActorsRanked.pkl', 'rb')

In [388]:
pop_act_data = pickle.load(pop_act_file)

In [390]:
len(pop_act_data)

50

In [391]:
social_act_file = open('socialMediaData.pkl', 'rb')

In [392]:
social_data = pickle.load(social_act_file)

In [394]:
len(social_data)

200

In [395]:
sal_act_file = open('salaryData.pkl', 'rb')

In [396]:
sal_data = pickle.load(sal_act_file)

In [398]:
len(sal_data)

30

In [402]:
#
# data structures:
# po_act_data:
#     {'name': 'Chris Evans', 'popularityRank': 1}
# social_data[0]:
#     {'name': 'Vin Diesel', 'Online following': 100423198}
# sal_data
#     actorName': 'Mark Wahlberg', 'salary': 68.0}
#

In [413]:
name = 'Chris Evans'

In [416]:
name.split()[0]

'Chris'

In [424]:
pop_act_data[3:5]

[{'name': 'Channing Tatum', 'popularityRank': 4},
 {'name': 'George Clooney', 'popularityRank': 5}]

In [425]:
test_list = pop_act_data[3:5]

In [426]:
test_list

[{'name': 'Channing Tatum', 'popularityRank': 4},
 {'name': 'George Clooney', 'popularityRank': 5}]

In [432]:
social_data[0]

{'name': 'Vin Diesel', 'Online following': 100423198}

In [442]:
def get_actor_dict_list(actor_data):
    actor_dict_list = []
    for actor in actor_data:
        # get first, last, pop_rank
        full_name = actor['name']
        first = actor['name'].split()[0]
        last = actor['name'].split()[1]
        pop_rank = actor['popularityRank']
        actor_id = imdb_funcs.get_id_from_actor_name(full_name)
        social_score = 0
        salary_amt  = 0
        
        # check for additional social data - gonna do brute force search!
        for social in social_data:
            if full_name == social['name']:
                social_score = social['Online following']
        
        # check for additional salary data - gonna do brute force search
        for salary in sal_data:
            if full_name == salary['actorName']:
                salary_amt = salary['salary']

        # populate our actor dict:
        actor_dict = dict(actor_id=actor_id, first=first, last=last, 
                          pop_rank=pop_rank, social=social_score, salary=salary_amt)
        actor_dict_list.append(actor_dict)

    return actor_dict_list

In [443]:
test_ret_list = get_actor_dict_list(test_list)

In [445]:
test_ret_list

[{'actor_id': 'nm1475594',
  'first': 'Channing',
  'last': 'Tatum',
  'pop_rank': 4,
  'social': 0,
  'salary': 0},
 {'actor_id': 'nm0000123',
  'first': 'George',
  'last': 'Clooney',
  'pop_rank': 5,
  'social': 0,
  'salary': 0}]

In [446]:
full_actor_list = get_actor_dict_list(pop_act_data)

In [448]:
len(full_actor_list)

50